<?xml version="1.0"?>
<!--
  @author MageRocket
  @copyright Copyright (c) 2024 MageRocket (https://magerocket.com/)
  @link https://magerocket.com/
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="gocuotas_config_provider" xsi:type="object">MageRocket\GoCuotas\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Version\Controller\Index\Index">
        <plugin name="goCuotasVersionPlugin" type="MageRocket\GoCuotas\Plugin\Controller\Version\IndexPlugin"/>
    </type>
</config>
