<?xml version="1.0" ?>
<!--
  @author MageRocket
  @copyright Copyright (c) 2024 MageRocket (https://magerocket.com/)
  @link https://magerocket.com/
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="gocuotas" frontName="gocuotas">
			<module name="MageRocket_GoCuotas"/>
		</route>
	</router>
</config>
